# Secrets
.env
.env.*
!.env.example

# Virtual environments
venv/
.venv/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.pytest_cache/
.mypy_cache/
*.egg-info/
.eggs/
dist/
build/
*.db

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
